blockquote {
  border-left: 2px solid $red;
  margin-left: $space-1;
  padding-left: .7em;

  footer {
    background-color: #fff;
    border-color: transparent;
    color: #7a7a7a;
    font-size: .85rem;
    padding: 0;
    text-align: left;
  }
}
