// pre = block
// code without pre = inline

pre,
code {
  font-family: $monospace-font-family;
  border: 0;
}

code {
  background: none;
}

pre {
  background-color: $pre-background-color;
  border: thin solid rgba(0, 0, 0, 0.2);
  color: $black;
  border-radius: 5px;
  line-height: 1.11;
  overflow-x: scroll;
  padding: 12px 16px;
}

.highlight .p {
  line-height: 1;
}

pre {
  counter-reset: line-numbering;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

pre a::before {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: $light-gray;
  content: counter(line-numbering);
  counter-increment: line-numbering;
  display: inline-block;
  margin-right: 16px;
  opacity: 0.7;
  padding-right: 1em; /* space after numbers */
  text-align: right;
  user-select: none;
  width: 25px;
}

pre a:first-of-type::before {
  padding-top: 10px;
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}
