.site-header a {
  border-bottom: 0;
}

.site-header a:hover,
.site-header a:focus,
.site-header a:active {
  border-bottom: 2px solid $red;
  text-shadow: 0 .5px 1.75px $shadow-black;
  transition: text-shadow .1s;
  margin-bottom: 20px;
}

.site-nav {
  margin-top: $space-2;
  text-align: center;

  a + a { margin-left: 1em; }
}
