.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.figure.space-below {
  margin-bottom: 8px;
}

.figure.float {
  padding-bottom: 0;
  padding-top: 0;

  img {
    margin-top: 8px;
  }
}

.figure.float-right {
  @extend .figure.float;
  float: right;

  img {
    margin-left: 8px;
  }
}

.figure.float-left {
  @extend .figure.float;
  float: left;

  img {
    margin-right: 8px;
  }
}

.caption {
  border-bottom: 0.9px solid rgba(0, 0, 0, 0.25);
  font-size: 90%;
  margin-top: 0px;
  text-transform: uppercase;
}

.caption.small {
  font-size: 60%;
}

.caption.no-caps {
  text-transform: none;
}

img {
		display: block;
		margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    max-height: 500px;

  &.emoji {
    border: 0;
    box-shadow: none;
    display: inline;
    margin: 0;
  }
}
