@media screen and (min-width: $viewport-extra-small) {
  .site-header {
    padding-top: $space-3;
    padding-bottom: 0;
    text-align: center;
  }

  .site-header a {
   font-size: $h2;
  }

  .site-nav a {
   font-size: $h3;
  }

  footer div {
    display: block;
  }

  .footer-left {
    padding: 0;
    padding-bottom: $space-1;
    float: none;
  }

  .footer-right {
    padding: 0;
    padding-top: $space-2;
    float: none;
  }

}

@media screen and (min-width: $viewport-small) {
  html {
    font-size: 14px;
  }

  h1,
  .h1 {
    font-size: $h1;
  }

  .site-header {
    padding-top: $space-2;
    padding-bottom: $space-3;
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: 1.35rem;
  }

  .site-header .site-title {
    font-size: $h2;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }

  .footer-left {
    padding-bottom: $space-1;
  }

  .footer-right {
    padding-top: .8rem;
  }

}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 14px;
  }

  footer div {
    display: block;
  }

  .footer-left {
    padding-bottom: $space-1;
    float: none;
  }

  .footer-right {
    padding: 0;
    padding-top: .7rem;
    float: none;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }

  footer div {
    display: inline-block;
  }

  .footer-left {
    float: left;
    padding: $space-2;
  }

  .footer-right {
    float: right;
    padding: $space-2;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
