
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  text-align: center;
  text-shadow: -1px 1px $shadow-black;
  transition: all .25s;

  &:hover {
    color: $red;
    text-shadow: -1px 1px darken($red, 20%);
  }
}

.post-summary {
  text-align: center;
}

.post-content {
  text-align: justify;
}

.post-footer {
  text-align: center;
}

.post-footer-left {
  float: left;
  display: inline-block;
}

.post-footer-center {
  display: inline-block;
}

.post-footer-center a {
  border-bottom: 2px solid transparent;
}

.post-footer-center a:hover,
.post-footer-center a:active,
.post-footer-center a:focus {
  border-bottom: 2px solid $red;
}

.post-footer-center .avatar {
  margin: 2rem 0;
  margin-left: 4rem;
  width: 100px;
  border-radius: 50%;
}

.post-footer-right {
  float: right;
  display: inline-block;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  color: $mid-gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: .8em;
}

.posts .post-meta { padding-bottom: 1em; }

.post-meta-small {
  @extend .post-meta;
  font-size: .9rem;
}

.related-posts {
  .post {
    padding-bottom: 10px;
  }
  .post-title, .post-title:hover {
    text-shadow: none;
  }
  .post-summary {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
