
.social-icons {
  font-size: 1.8rem;
}

.social-icons a.fa {
  border: 0;
  cursor: pointer;
  opacity: 0.85;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: .75rem;
}

.social-icons a.fa:hover {
  opacity: 1;
}