
.share-page {
	text-align: center;
	float: right;
}

.share-page ul {
	list-style: none;
}

.share-page a {
	border: 0;
	color: $red;
	padding: 0.2rem;
	font-size: 1.8rem;	
}

.share-links-left {
	float: left;
}

.share-links-right {
	float: right;
}
